body {

 font-family: Arial, sans-serif;

}

#cont
{
    display: flex;
    flex-flow: column;
    justify-content: center;
	align-items: center;
	height: 600px;
}

#nav
{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
	align-items: ;
	height: ;
}



.border-flex
{
	border: 2px solid red;
}



#global-footer {
    display:flex;
    flex-flow: column;

}


#lower-footer {
    display:flex;
    /*flex-flow:row;*/
}

#lower-left-footer {
    display:flex;
 /*   flex-flow: row; */
    justify-content: flex-start;
}

#lower-right-footer {
    display:flex;
 /*   flex-flow: row; */
    justify-content: flex-end;
}