.border-flex {
	border: 0px solid red;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
}

h2 {
	font-weight: 400;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

h3 {
	font-weight: 400;
	font-size: 13px;
}

footer {
	background-color: #f2f2f2;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}

a {
	color: #3c3c3c;
	text-decoration: none;
}

a:hover {
	color: #737373;
	text-decoration: underline;
}


#connexion {
    background-color:#4285f4;
    color: #ffff;
    font-weight: bold;
    height:30px;
    width:150px;
    border-radius: 1px;
}


#connexion-link {
    
}

#connexion-link:hover {
    text-decoration: none;

/*    box-shadow:
        rgba(0,0,0,0.15)
        0px 100px;*/
    }


#cont {
    display: flex;
    flex-flow: column;
    justify-content: center;
	align-items: center;
	height: 650px;
}

#nav {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
	align-items: ;
	height: ;
}

#lower-footer {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#left-footer {
    display:flex;
}

#right-footer {
    display:flex;
    justify-content: flex-end;
}

.txt-left-footer {
	padding-right: 15px;
}

.txt-right-footer {
	padding-left: 15px;
}